.offer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
  padding-top: 1rem;
}
.offer-content h2{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .offer-container{
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0 1rem;
    overflow: hidden;
  }
  .offer-card{
    margin: 0 auto;
  }
  .offer-content h2{
    font-size: 30px;
  }
  .offer-img img{
    width: 100%;
  }
}